[Unit]
Description=Restore Open vSwitch configuration on boot
After=openvswitch-switch.service
Requires=openvswitch-switch.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ovs-persistent.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
